@import "variables", "mixins", "keyframes";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

ol {
	padding-left: map-get($padding, default);
}

fieldset {
	border: none;
}

html {
	@include mobile {
		font-size: 14px;
	}
}

body {
	min-height: 100vh;
	line-height: 1.3;
	font: {
		family: map-get($fonts, family1);
	}
	background: map-get($colors, white1);
	color: map-get($colors, black1);
}

@each $header, $size in $fontSizes {
	#{$header} {
		font-size: $size;
	}
}

#root {
	@include flex(column) {
		align-items: stretch;
		justify-content: space-between;
	}

	position: relative;
	min-height: inherit;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
