@import "variables", "mixins";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
	padding-left: map-get($padding, default);
}

fieldset {
	border: none;
}

body {
	min-height: 100vh;
	line-height: 1.5;
	font: {
		family: map-get($fonts, family), sans-serif;
	}
	color: map-get($colors, primaryText);
}

#root {
	@include flex(column) {
		align-items: stretch;
		justify-content: space-between;
	}

	position: relative;
	min-height: inherit;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@include desktop {
		background-image: url("/desktopMainBg.png");
	}
	@include mobile {
		background-image: url("/mobileMainBg.png");
	}
}
