@mixin outline($within: false, $color: primary) {
	outline-offset: 0.1rem;
	outline: 0.1rem solid transparent;
	transition: map-get($transitions, link);
	&:focus-visible {
		outline: 0.1rem solid map-get($colors, $color);
	}
	@if $within {
		&:focus-within {
			outline: 0.1rem solid map-get($colors, $color);
		}
	}
}

@mixin flex($dir: row) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $dir;
	@content;
}

@mixin mobileControl {
	@include flex {
		justify-content: space-between;
		gap: map-get($gaps, secondary);
		align-items: stretch;
		flex-wrap: wrap;
		@content;
	}
}

@mixin glass(
	$background:
		linear-gradient(
			135deg,
			rgba(255, 255, 255, 0.1),
			rgba(255, 255, 255, 0)
		)
) {
	background: $background;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	@content;
}

@mixin content {
	text-align: justify;
	overflow-wrap: break-word;
	font-weight: 500;
	@content;
}

@mixin icon($fill: map-get($colors, secondary), $width: 50px) {
	border-radius: map-get($radius, rounded);
	padding: 0;
	width: $width;
	aspect-ratio: 1 / 1;
	& svg {
		fill: $fill;
	}
	@content;
}

@mixin logo {
	border-radius: map-get($radius, rounded);
	@content;
}

@mixin resetList {
	list-style: none;
	padding: 0;
	@content;
}

@mixin grid {
	display: grid;
	justify-content: center;
	align-items: center;
	@content;
}

@mixin mobileBoundary($type) {
	@if ($type == top) {
		$type: bottom;
	} @else if ($type == bottom) {
		$type: top;
	}
	// padding: map-get($padding, default) map-get($padding, default) * 1.5;
	background: map-get($colors, secondary);
	border-#{$type}-left-radius: map-get($radius, m);
	border-#{$type}-right-radius: map-get($radius, m);
	@content;
}

@mixin desktopHeader {
	// padding: map-get($padding, default) map-get($padding, default) * 1.5;
	background: map-get($colors, secondary);
	border-bottom-left-radius: map-get($radius, m);
	border-bottom-right-radius: map-get($radius, m);
	@content;
}

@mixin desktop {
	@media only screen and (min-width: 769px) {
		@content;
	}
}

@mixin mobile {
	@media only screen and (max-width: 768px) {
		@content;
	}
}

@mixin caption {
	z-index: map-get($zIndex, caption);
	padding: map-get($padding, button);
	text-align: center;
	border-radius: map-get($radius, m);

	color: map-get($colors, secondary);
	background: map-get($colors, primary);
	@content;
}

@mixin mainContent {
	flex: 1;
	@content;
}

@mixin contentContainer {
	margin: 0 auto;
	max-width: 1400px;
	padding: map-get($padding, default);
	@content;
}

@mixin scrollbar($width: 10px) {
	scroll-behavior: smooth;
	&::-webkit-scrollbar {
		width: $width;
		border-radius: map-get($radius, m);
		background: map-get($colors, secondary);
	}
	&::-webkit-scrollbar-thumb {
		border-radius: map-get($radius, m);
		background: map-get($colors, primary);
		cursor: pointer;
	}
	&::-webkit-scrollbar-button {
		display: none;
	}
}
