@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap");

$colors: (
	primary: #803e2f,
	primaryHover: #803e2fcc,
	secondary: #f6f5f1,
	secondaryHover: #f6f5f1cc,
	tertiary: #b59c45,
	tertiaryHover: #b59c45cc,
	primaryText: #26273b,
	primaryTextHover: #26273baa,
	track: #dfd7bf,
	trackHover: #dfd7bfcc,
	rate: #f5b340,
	rateBg: #eff0ff,
	scanBg: #f6f5f16b,
);

$quizColors: (
	selected: #40aceecc,
	correct: #33a22bcc,
	wrong: #df3a3acc,
	default: #eff0ff,
);

$radius: (
	s: 1rem,
	m: 1.5rem,
	rounded: 10rem,
);

$padding: (
	button: 0.7rem 2.5rem,
	input: 0.7rem 1rem,
	rounded: 0.7rem,
	default: 1rem,
);

$fonts: (
	family: "Noto Sans",
	sizes: (
		h1: 1.5rem,
		h2: 1.3rem,
		h3: 1.1rem,
		h4: 1rem,
		h5: 1rem,
		h6: 1rem,
	),
);

$transitions: (
	link: 0.3s,
	control: 0.5s,
);

$gaps: (
	primary: 2rem,
	secondary: 1rem,
);

$zIndex: (
	modal: 3,
);
