@import url("/fonts/Gilroy/stylesheet.css");

$colors: (
	white1: #fff,
	white2: #929292,
	black1: #222328,
	black2: #404046,
	yellow: #e8c95f,
	gray1: #fafafa,
	gray2: #dddddd,
	overlay: #00000080,
	playIcon: #95959580,
);

$rateColors: (
	bad: #e14f4f,
	normal: #e8c95f,
	good: #eaff6a,
	happy: #66c269,
);

$quizColors: (
	correct: #66c269,
	wrong: #e14f4f,
);

$radius: (
	sm: 1.25rem,
	md: 2.5rem,
	lg: 6.25rem,
);

$padding: (
	control: 0.625rem 1.5rem,
	card: 1.25rem,
	panel: 3.5rem,
	default: 1rem,
);

$fonts: (
	family1: (
		"Gilroy",
		sans-serif,
	),
);

$fontSizes: (
	h1: 3rem,
	h2: 2rem,
	h3: 1.5rem,
	h4: 1.25rem,
	h5: 1rem,
	h6: 1rem,
	default: 1rem,
);

$transitions: (
	link: 0.3s,
	control: 0.5s,
);

$gaps: (
	primary: 2rem,
	default: 1rem,
);

$zIndex: (
	modal: 3,
	camera: -1,
	caption: 1,
);
