@import "../../../../app/styles/variables", "../../../../app/styles/mixins";

.default {
	@include flex;
	@include mobile {
		flex-direction: column-reverse;
	}
}

.textContent {
	flex-basis: 50%;
	@include flex(column) {
		align-items: flex-start;
	}
	@include mobile {
		align-items: center;
		text-align: center;
	}
}

.title {
	@include semiBold($size: map-get($fontSizes, h2));
}

.story {
	font-size: map-get($fontSizes, h4);
}
