@import "../../../app/styles/variables", "../../../app/styles/mixins",
	"../../../app/styles/keyframes";

.default {
	@include flex(column) {
		gap: map-get($gaps, secondary);
	}
}

.text {
	animation: showUp 1s;
}
.progress {
	width: 100%;
}
