@import "../../../app/styles/variables", "../../../app/styles/mixins",
	"../../../app/styles/keyframes";

.default {
	@include flex(column);
}

.text {
	animation: showUp 1s;
	font-size: map-get($fontSizes, h4);
}
.progress {
	width: 100%;
}
