@import "../../../app/styles/variables", "../../../app/styles/mixins";

.default {
	@include glass(map-get($colors, primaryHover));
	color: map-get($colors, secondary);
	padding: map-get($padding, default) map-get($padding, default) * 1.5;
	border-radius: map-get($radius, m);
	z-index: map-get($zIndex, caption);
}

.upperText {
	font-size: map-get(map-get($fonts, sizes), h1) * 2;
}

.lowerText {
	font-size: map-get(map-get($fonts, sizes), h1) * 1.5;
}
