@import "../../../app/styles/variables", "../../../app/styles/mixins";

.default {
	position: relative;
	@include flex;
	min-width: 15rem;
	height: 1.5rem;

	border-radius: map-get($radius, lg);
	background: map-get($colors, gray2);

	&::before {
		content: "";
		width: 0%;
		max-width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		background: map-get($colors, black1);
		border-radius: inherit;
	}
}

.slider {
	position: absolute;
	left: 0;
	transform: translate(-50%);

	//* Изображения не должны сжиматься при увеличении прогресса
	& img {
		max-width: none;
	}
}

@for $i from 0 through 100 {
	.progress-#{$i} {
		&::before {
			width: $i * 1%;
		}
		& .slider {
			left: $i * 1%;
		}
	}
}
