@import "../../../../app/styles/variables", "../../../../app/styles/mixins";

.modal {
	@include desktop {
		padding: map-get($padding, card) * 2;
		width: 80vw;
	}
	@include mobile {
		padding: map-get($padding, default);
		width: 90vw;
	}
}
