@import "../../../app/styles/variables", "../../../app/styles/mixins";

.default {
	position: absolute;
	inset: 0;
	z-index: map-get($zIndex, modal);
}
.modal {
	position: absolute;
	left: 50%;
	top: 50%;
	padding: map-get($padding, card) * 2;
	transform: translate(-50%, -50%);
	background: map-get($colors, white1);
	border-radius: map-get($radius, sm);
}

.overlay {
	position: absolute;
	inset: 0;
	cursor: pointer;

	background: map-get($colors, overlay);
}

.close.close {
	position: absolute;
	right: 0;
	top: 0;
	border-radius: map-get($radius, sm);
}
