@import "../../../../app/styles/variables", "../../../../app/styles/mixins",
	"../../../../app/styles/keyframes";

.default {
	position: relative;
	@include flex(column) {
		gap: map-get($gaps, secondary) * 1.5;
	}
}

.controller {
	z-index: map-get($zIndex, caption);
	@include desktop {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	@include icon(map-get($colors, secondary));
}

.leftController {
	@include desktop {
		left: -3%;
	}
}

.rightController {
	@include desktop {
		right: -3%;
	}
}

.sliderController {
	@include flex {
		gap: map-get($gaps, primary);
	}
}

.entertainment {
	width: 100%;
	overflow: auto;
	animation: showUp 1s;
	@include scrollbar;
	@include desktop {
		height: 450px;
	}
	@include mobile {
		height: 350px;
	}
	& img {
		max-height: 350px;
	}
}
