@import "../../../../app/styles/variables", "../../../../app/styles/mixins";

.default {
	@include flex;
	@include mobile {
		display: block;
	}
}

.form {
	@include flex(column) {
		gap: map-get($gaps, primary);
	}
	flex-basis: 50%;
}
.question {
	@include semiBold;
	max-width: 100%;
	align-self: flex-start;
}
.options {
	flex: 1;
	align-self: stretch;
}
.btn {
	min-width: 60%;
}
