@import "../../../../app/styles/variables", "../../../../app/styles/mixins";

.default {
	@include flex(column) {
		gap: map-get($gaps, secondary);
		align-items: stretch;
		justify-content: flex-start;
	}
	padding: map-get($padding, default) * 2;
	@include mobile {
		padding: map-get($padding, default);
	}
	border-radius: map-get($radius, m);

	background: map-get($colors, secondary);
}
.text {
	@include content;
	max-width: 100%;
	align-self: flex-start;
	font-weight: 600;
	font-size: map-get(map-get($fonts, sizes), h2);
}
