@import "../../../app/styles/variables", "../../../app/styles/mixins";

.default {
	padding: map-get($padding, control);

	border: 0.1rem solid map-get($colors, black1);
	border-radius: map-get($radius, md);

	cursor: pointer;

	font-family: inherit;
	@include transition(
		$duration: map-get($transitions, control),
		$properties: (
			background,
			color,
			border,
		)
	);

	@include flex;
	@include outline($type: rounded);

	&:disabled {
		background: map-get($colors, gray2);
		border: 0.1rem solid map-get($colors, gray2);
		color: map-get($colors, white1);
		cursor: not-allowed;
	}
}

.filled {
	background: map-get($colors, black1);
	color: map-get($colors, white1);
	&.hasHover:hover:not(:disabled) {
		background: map-get($colors, white1);
		color: map-get($colors, black1);
	}
}

.outlined {
	background: map-get($colors, white1);
	color: map-get($colors, black1);
	&.hasHover:hover:not(:disabled) {
		background: map-get($colors, black1);
		color: map-get($colors, white1);
	}
}
