@import "../../../app/styles/variables", "../../../app/styles/mixins";

.default {
	padding: map-get($padding, button);
	border-radius: map-get($radius, m);
	border: none;
	cursor: pointer;

	font-family: inherit;
	color: map-get($colors, secondary);
	transition: background map-get($transitions, control);

	&:disabled {
		cursor: not-allowed;
	}

	@include flex {
		display: inline-flex;
	}
	@include outline;
}
.simple {
	background: map-get($colors, secondary);
	color: map-get($colors, primaryText);
	&:hover,
	&:disabled {
		background: map-get($colors, secondaryHover);
	}
}
.primary {
	background: map-get($colors, primary);
	&:hover,
	&:disabled {
		background: map-get($colors, primaryHover);
	}
}

.secondary {
	background: map-get($colors, tertiary);
	&:hover,
	&:disabled {
		background: map-get($colors, tertiaryHover);
	}
}

.tertiary {
	background: map-get($colors, track);
	color: map-get($colors, primaryText);
	&:hover,
	&:disabled {
		background: map-get($colors, trackHover);
	}
}
