@import "../../app/styles/variables", "../../app/styles/mixins";

.default {
	@include mobileBoundary(bottom);
	color: map-get($colors, secondary);
}

.content {
	@include contentContainer;
}

.links {
	@include resetList;
	@include mobileControl;
}

.linkItem {
	flex: 1;
}

.link {
	min-width: 165px;
	width: 100%;
}
