@import "../../app/styles/variables", "../../app/styles/mixins";

.default {
	@include mobileBoundary(bottom);
	color: map-get($colors, secondary);
}

.content {
	@include contentContainer;
}

.links {
	@include resetList;
	@include grid {
		grid-template-columns: repeat(2, minmax(50px, 180px));
		gap: map-get($gaps, primary);
		justify-content: space-between;
		align-items: stretch;
	}
}

.link {
	width: 100%;
	height: 100%;
}
