@import "../../../app/styles/variables", "../../../app/styles/mixins";

.default {
	max-width: 15rem;
	@include flex(column) {
		gap: 0;
	}
}

.qr {
	width: 15rem;
}

.description {
	@include desktop {
		font-size: map-get($fontSizes, h4);
	}
	text-align: justify;
}
