@import "../../../app/styles/variables", "../../../app/styles/mixins";

.default {
	border-radius: map-get($radius, m);
	background: map-get($colors, secondary);
	transition: map-get($transitions, control);
	@include outline(true);
}

.label {
	@include flex;

	padding: map-get($padding, rounded);
	cursor: pointer;
}

.input {
	border-radius: map-get($radius, s);
	padding: map-get($padding, rounded);

	flex-grow: 1;
	&::-webkit-search-cancel-button {
		cursor: pointer;
		margin-left: map-get($padding, default);
	}
}
