@import "../../../app/styles/variables", "../../../app/styles/mixins";

.default {
	border-radius: map-get($radius, lg);
	transition: map-get($transitions, control);
	@include outline($type: colorChange, $within: true);
	border: 0.1rem solid currentColor;
}

.label {
	@include flex {
		gap: calc(map-get($gaps, default) / 2);
	}
	padding: calc(map-get($padding, default) / 2);
	cursor: pointer;
}

.hasContent {
	color: map-get($colors, black1);
}

.magnifier {
	stroke: currentColor;
}

.input {
	padding: 0;
	border-radius: 0;
	flex-grow: 1;
}
