@import "../../../app/styles/variables", "../../../app/styles/mixins";

.modelLink.modelLink {
    padding: map-get($padding, rounded);
    border: .1rem solid map-get($colors, secondary);
}

.icon {
    stroke: map-get($colors, secondary);
    width: 38px;
    height: 39px;
}
