@import "../../../app/styles/variables", "../../../app/styles/mixins";

.default {
	@include flex(column);
}

.modelLink {
	padding: map-get($padding, card);
	border: 0.1rem solid map-get($colors, white1);
	border-radius: map-get($radius, sm) * 1.25;
	background: map-get($colors, yellow);
}

.link3DSvg {
	stroke: map-get($colors, white1);
}
.linkARSvg {
	fill: map-get($colors, white1);
}

.arLink {
}

.label {
	font-size: map-get($fontSizes, h4);
	text-align: center;
}
