@import "../../app/styles/variables", "../../app/styles/mixins";

.default {
	@include flex(column) {
		align-items: stretch;
		justify-content: flex-start;
		gap: map-get($gaps, primary);
	}
	padding: map-get($padding, card) * 2;

	@include mobile {
		padding: map-get($padding, card);
	}
	border: 0.1rem solid map-get($colors, gray2);
	border-radius: map-get($radius, md);

	//* При отсутствиии заведений появляется изображение, которое меняет размер панели
	min-height: 510px;
}

.searchContainer {
	@include flex;
}

.search {
	flex-grow: 1;
}

.dishList,
.notFound {
	flex: 1;
}
