@import "../../../app/styles/variables", "../../../app/styles/mixins";

.default {
	padding: map-get($padding, control);
	border-radius: map-get($radius, lg);
	font-family: inherit;

	border: none;
	outline: none;
	background: inherit;
	@include transition(
		$duration: map-get($transitions, control),
		$properties: (
			color,
			border,
		)
	);
	&::placeholder {
		color: map-get($colors, white2);
	}
	&::-webkit-search-cancel-button {
		cursor: pointer;
		margin-left: map-get($padding, default);
	}
}
.outline {
	color: map-get($colors, gray1);
	border: 0.1rem solid currentColor;
	@include outline($type: colorChange);
}

.hasContent {
	color: map-get($colors, black1);
}
