@import "../../app/styles/variables", "../../app/styles/mixins";

.default {
	position: relative;
	@include flex(column) {
		gap: map-get($gaps, primary);
	}
}

.dishName {
	position: absolute;
	z-index: map-get($zIndex, caption);
	left: -20%;
	top: -8%;
	color: map-get($colors, secondary);
	border-radius: map-get($radius, m);
	padding: map-get($padding, button);
	text-align: center;
	background: map-get($colors, primary);
}
