@import "../../../../app/styles/variables", "../../../../app/styles/mixins";

.default {
	@include flex(column) {
		align-items: flex-start;
	}
	padding: map-get($padding, card);

	border-radius: map-get($radius, sm);
	background: map-get($colors, gray1);
	@include transition(
		$properties: (
			background,
			color,
			outline,
		)
	);

	&:hover {
		background: map-get($colors, black1);
		& * {
			color: map-get($colors, white1);
		}
		& .image {
			outline: 0.1rem solid map-get($colors, white1);
		}
	}
}

.image {
	align-self: stretch;
	@include outline($type: rounded);
	transition: inherit;
}

.info {
	@include flex(column) {
		align-items: flex-start;
		gap: calc(map-get($gaps, default) / 4);
	}
	text-align: start;
}

.amount {
	color: map-get($colors, white2);
}

.name {
	font-size: map-get($fontSizes, h4);
}

.description {
	color: map-get($colors, black2);
}
