@import "../../../../app/styles/variables", "../../../../app/styles/mixins";

.default {
	@include flex {
		gap: map-get($gaps, primary) * 2;
	}
	@include mobile {
		flex-direction: column;
	}
}

.image {
	//* Главный элемент изображения уходит вправо. При смене изображения - удалить
}

.content {
	@include flex(column) {
		gap: map-get($gaps, default) * 2;
		align-items: flex-start;
	}
}

.description {
	font-size: map-get($fontSizes, h4);
	@include flex(column) {
		gap: calc(map-get($gaps, default) / 2);
		align-items: inherit;
	}
}

.submissionSuccess {
	@include semiBold($size: map-get($fontSizes, h2));
}

.link {
}
