@import "../../../app/styles/variables", "../../../app/styles/mixins";

.links {
	@include flex {
		gap: map-get($gaps, primary);
		justify-content: flex-start;
	}
}

.aboutDish {
	padding: nth(map-get($padding, control), 1)
		nth(map-get($padding, control), 2) * 1.5;
}
