@import "../../../app/styles/variables", "../../../app/styles/mixins";

.main {
	@include mainContent {
		padding-top: map-get($padding, default);
	}
}

.content {
	@include contentContainer {
		max-width: 1000px;
		@include mobile {
			padding-bottom: 6rem;
		}
	}
}
