@import "../../../app/styles/variables", "../../../app/styles/mixins";

.radio {
	appearance: none;
}
.default {
	@include flex(column) {
		gap: calc(map-get($gaps, default) / 2);
	}
	@include transition(
		$duration: map-get($transitions, control),
		$properties: (
			background,
			color,
			fill,
			stroke,
		)
	);
}

.emojiContainer {
	@include flex($hasGap: false);
	@include outline($type: rounded);
	@include icon;
	cursor: pointer;
	background: map-get($colors, gray2);
	transition: inherit;
}

.emoji.emoji {
	stroke: map-get($colors, black1);
	fill: map-get($colors, gray2);
}

.description {
	@include flex {
		gap: calc(map-get($gaps, default) / 3);
	}
	cursor: pointer;
	color: map-get($colors, gray2);
	transition: inherit;
}

@each $emojiType, $color in $rateColors {
	.#{$emojiType}:has(.radio:checked) {
		& .emojiContainer {
			background: $color;
		}
		& .description {
			color: map-get($colors, black1);
		}
		& .emoji {
			fill: $color;
		}
		@if ($emojiType == bad or $emojiType == happy) {
			& .emoji {
				stroke: map-get($colors, white1);
			}
		}
	}
}
