@import "../../../app/styles/variables", "../../../app/styles/mixins";

.ratio {
	appearance: none;
}
.emoji {
	width: 70%;
	stroke: map-get($colors, primaryText);
	transition: map-get($transitions, control);
}
.ratio:checked ~ .emoji {
	stroke: map-get($colors, rate);
}
.label {
	@include flex;
	@include outline;
	@include icon {
		max-width: 50px;
	}
	cursor: pointer;
	transition: map-get($transitions, control);
}
.label:has(.ratio:checked) {
	background: map-get($colors, rateBg);
}
