@import "../../../app/styles/variables", "../../../app/styles/mixins";

.default {
	@include mainContent;
	@include container;
	@include grid {
		grid-template-areas:
			"searchById image image"
			"benefits benefits benefits";
		row-gap: map-get($gaps, primary);
	}

	@include tablet {
		grid-template-areas:
			"image"
			"searchById"
			"benefits";
	}
}

$parts: searchById, image, benefits;

@each $part in $parts {
	.#{$part} {
		grid-area: $part;
	}
}
