@import "../../../app/styles/variables", "../../../app/styles/mixins";

.default.default {
	@include transition(
		$properties: (
			fill,
			stroke,
			outline,
		)
	);
	@include icon {
		& svg {
			fill: none;
			stroke: map-get($colors, gray2);
		}
	}

	background: map-get($colors, white1);
	border: none;

	&:hover {
		& svg {
			fill: none;
			stroke: map-get($colors, black1);
		}
	}
}
