@import "../../../../app/styles/variables", "../../../../app/styles/mixins";

.default {
	position: relative;
	@include flex {
		gap: map-get($gaps, primary) * 6;
		justify-content: space-between;
		align-items: flex-end;
	}
}
.info {
	@include icon;
}

.model {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -10%);
}

.cafeLink {
	@include icon;
}
