@import "../../../app/styles/variables", "../../../app/styles/mixins";

.default {
	@include icon;
	@include flex {
		display: inline-flex;
	}
}
.simple {
	background: map-get($colors, secondary);
}
.primary {
	background: map-get($colors, primary);
	& svg {
		fill: map-get($colors, secondary);
	}
}

.secondary {
	background: map-get($colors, tertiary);
	& svg {
		fill: map-get($colors, secondary);
	}
}

.tertiary {
	background: map-get($colors, track);
}
