@import "../../../app/styles/variables", "../../../app/styles/mixins";

.default {
	padding: map-get($padding, button);
	border-radius: map-get($radius, m);
	border: none;
	cursor: pointer;
	font-family: inherit;
	color: map-get($colors, secondary);
	text-decoration: none;
	text-align: center;
	transition: map-get($transitions, control);
	@include flex {
		display: inline-flex;
		flex-direction: column;
	}
	@include outline;
}
.simple {
	background: map-get($colors, secondary);
	color: map-get($colors, primaryText);
	&:hover {
		background: map-get($colors, secondaryHover);
	}
}
.primary {
	background: map-get($colors, primary);
	&:hover {
		background: map-get($colors, primaryHover);
	}
}

.secondary {
	background: map-get($colors, tertiary);
	&:hover {
		background: map-get($colors, tertiaryHover);
	}
}

.tertiary {
	background: map-get($colors, track);
	color: map-get($colors, primaryText);
	&:hover {
		background: map-get($colors, trackHover);
	}
}

.text {
	color: map-get($colors, primaryText);
	padding: calc(map-get($padding, default) / 4)
		calc(map-get($padding, default) / 2);

	&::after {
		content: "";

		height: 3px;
		width: 100%;
		border-radius: map-get($radius, m);
		transform: scaleX(0);
		transition: transform map-get($transitions, control);
		transform-origin: center;
		background: map-get($colors, primary);
	}
	&:hover {
		&::after {
			transform: scaleX(1);
		}
	}
}
