@import "../../../app/styles/variables", "../../../app/styles/mixins";

.default {
	@include flex;

	text-align: center;
	text-decoration: none;
	font-family: inherit;
	color: map-get($colors, black1);

	@include transition(
		$properties: (
			background,
			color,
			outline,
			border,
			transform,
		)
	);
}

.outlined {
	padding: map-get($padding, control);
	border-radius: map-get($radius, md);
	border: 0.1rem solid map-get($colors, black1);
	@include outline($type: rounded);

	&:hover {
		background: map-get($colors, black1);
		color: map-get($colors, white1);
	}
}

.text {
	@include outline($type: text, $hasHover: true);
}

.none {
}

.underlined {
	@include outline($type: text);
}
