@import "../../../app/styles/variables", "../../../app/styles/mixins";

.default {
	@include flex;
	@include icon(map-get($colors, primaryText), 30px);
	text-decoration: none;
	@include outline;
}
.arrow {
	transition: fill map-get($transitions, link);
	&:hover {
		fill: map-get($colors, primaryTextHover);
	}
}
