@import "../../../../app/styles/variables", "../../../../app/styles/mixins";

.default {
	@include flex {
		align-items: stretch;
	}

	@include tablet {
		flex-direction: column;
	}
}

.image {
	width: 20rem;
	@include tablet {
		width: 100%;
	}
}

.main {
	flex: 1;
	@include flex(column) {
		align-items: stretch;
	}
}

.title {
	text-align: center;
	@include flex {
		gap: calc(map-get($gaps, default) / 2);
		flex-wrap: wrap;
	}
}

.name {
	@include semiBold($size: map-get($fontSizes, h2));
	@include mobile {
		font-size: map-get($fontSizes, h3);
	}
}

.amount {
	padding: calc(map-get($padding, default) / 2) map-get($padding, default);
	border: 0.1rem solid currentColor;
	border-radius: map-get($radius, lg);
	font-size: map-get($fontSizes, h4);
	@include mobile {
		font-size: inherit;
	}
	color: map-get($colors, white2);
}

.logo.logo {
	border: none;
}
