@import "../../../../app/styles/variables", "../../../../app/styles/mixins";

.default {
	padding: map-get($padding, default) * 1.5;
	border-radius: map-get($radius, m);
	background: map-get($colors, primary);
	gap: map-get($gaps, secondary);
	justify-content: space-between;
	@include desktop {
		@include flex;
	}
	@include mobile {
		@include flex(column);
		padding: map-get($padding, default);
	}
}
.info {
	max-width: 100%;
	align-self: flex-start;
	@include flex(column) {
		align-items: flex-start;
		gap: map-get($gaps, secondary);
	}
	color: map-get($colors, secondary);
}
.image {
	align-self: stretch;
	width: 15rem;
	flex: 1;
	@include mobile {
		width: 100%;
	}
}
