@import "../../../app/styles/variables", "../../../app/styles/mixins";

.default.default {
	@include icon(
		$fill: map-get($colors, white1),
		$hasHover: true,
		$fillHover: map-get($colors, black1)
	);
	@include flex;
}

.right {
	transform: none;
}
.left {
	transform: rotate(180deg);
}
