@import "../../app/styles/variables", "../../app/styles/mixins";

.default {
	@include desktopHeader;
}
.content {
	@include contentContainer;
	@include flex {
		justify-content: space-between;
		gap: map-get($gaps, primary);
	}
}
.nav {
	flex: 1;
}
