@import "../../../app/styles/variables", "../../../app/styles/mixins";

.default {
	@include grid {
		grid-template-columns: repeat(2, minmax(50px, 150px));
		gap: map-get($gaps, secondary);
		justify-content: space-between;
	}
}
