@import "../../../../app/styles/variables", "../../../../app/styles/mixins";

.default {
	@include grid {
		grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
		gap: map-get($gaps, primary);
		justify-content: flex-start;
		align-items: flex-start;
	}
}

.dishLink.dishLink {
	padding: 0;
	border: none;
	width: 100%;
}

.dish {
	border-radius: inherit;
	width: inherit;
}
