@import "../../../app/styles/variables", "../../../app/styles/mixins";

.ratio {
	appearance: none;
}

.option {
	@include flex {
		gap: 0;
	}
	@include outline($type: rounded);
	padding: nth(map-get($padding, control), 1)
		nth(map-get($padding, control), 1) * 2;
	border-radius: map-get($radius, lg);
	border: 0.1rem solid map-get($colors, gray2);

	cursor: pointer;
	@include transition(
		$duration: map-get($transitions, control),
		$properties: (
			background,
			color,
			border,
		)
	);
	text-align: center;

	&:has(.ratio:disabled) {
		pointer-events: none;
	}

	&:hover,
	&:has(.ratio:checked) {
		background: map-get($colors, black1);
		color: map-get($colors, white1);
		border: 0.1rem solid map-get($colors, black1);
	}
}

@each $type, $color in $quizColors {
	//* Стили статуса результата квиза должны быть выше других стилей
	.#{$type}.#{$type}.#{$type} {
		background: $color;
		color: map-get($colors, white1);
		border: 0.1rem solid $color;
	}
}
