@import "../../../app/styles/variables", "../../../app/styles/mixins";

.default {
	position: relative;
	@include mainContent;
}

.content {
	@include container {
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		height: 100%;
		width: 100%;
	}
}
