@import "../../app/styles/variables", "../../app/styles/mixins";

.content {
	position: relative;
	@include contentContainer {
		max-width: 1000px;
	}
}

.dishName {
	position: absolute;
	top: -5%;
	left: 0;
	@include caption;
}
