@import "../../app/styles/variables", "../../app/styles/mixins";

.default {
	margin: 0 auto;
}

.content {
	position: relative;
	@include flex(column) {
		display: inline-flex;
		gap: map-get($gaps, primary);
	}
	@include contentContainer;
}

.dishName {
	position: absolute;
	top: -5%;
	left: -10%;
	@include caption;
}
