@import "../../../app/styles/variables", "../../../app/styles/mixins";

.default {
	@include flex {
		gap: map-get($gaps, primary);
		align-items: flex-start;
	}
	@include mobile {
		flex-direction: column;
	}
}
