@import "../../../app/styles/variables", "../../../app/styles/mixins";

.cafeLink.cafeLink {
    padding: map-get($padding, rounded);
}

.icon {
    fill: map-get($colors, secondary);
    width: 26px;
    height: 26px;
}

